.grid-container {
    display: flex;
    flex-wrap: wrap;
    /*display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: auto;
    grid-gap: 10px;*/
}

.alignContents
{
    display: flex;
    flex-direction: column;
}

.box{
    border-style: solid;
    display:flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    height: 300px;
    border-color: black;
    border-width: 1px;
    padding-right: 10px;
    width: 300px;
    max-width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.text{
    font-family: 'Segoe UI';
    margin: 10px;
}
.img{
    height:auto;
    width:auto;
}
.label {
    display:block;
    clear:both;
}