h1
{
    font-size: 36px!important;
    padding-top: 5px;
}

.totalContainer
{
    display: flex;
    flex-direction: row;
}

.sideBar
{
    padding-top: 20px;
}

.contentContainer
{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    min-height: 100vh;
}

.content {
    padding: 3%;
    margin: 0px!important;
}

h1 {
    color: rgb(65, 65, 65)
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: whitesmoke;
}


.recipe {
    padding-top: 30px;
}
  
hr {
    max-width: 680px;
}

.sideBar {
    border-right: 1px solid rgb(218, 218, 218) !important;
}

.p {
    color: black !important;
}

.circle {
    height: 25vh;
    width: 25vh;
    background-image: radial-gradient( circle farthest-corner at 50.4% 50.5%,  #5CC4F5, #CAEDFC);
    border-radius: 50%;
    display: inline-block;
}

.circle-background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.content{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

a:hover {
    text-decoration: none !important;
}