.navbar-title {
    font-size: 36px !important;
    font-weight: 600;
    color: #0984e3;
    padding-top: 0% !important;
}

.navbar-title:hover {
    color: #74b9ff;
}

.navbar-item {
    color: #5e6566 !important;
    font-size: 23px !important;
    font-weight: 500;
}

.nav-icon {
    font-size: 25px;
    width: 40px !important;
}

.active {
    color: #0984e3 !important;
}

.nav-link:hover {
    color: #74b9ff !important;
}

.blue-btn {
    background-color: #4c78dd !important;
}

.blue-btn-text {
    color: white !important;
    font-size: 20px !important;
}

.nav-item {
    padding-top: 1% !important;
}

.col-padding {
    padding-left: 3% !important;
}