#update{
    background-color: greenyellow;
    border: 2px solid black;
    display: block;
}

#information{
    align-items: right;
    position: relative;
    display: block;
    grid-column-start: 12;
    border: 0px!important;
}

#pfp{
    max-width: 300px; 
}

#imgDisplay{
    display: grid;
    float: left;
}

.imgDetails{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#starredList{
    display: block;
    clear: left;
    position: absolute;
    bottom: 20%;
}

table, td, th{
    border: 1px solid black;
}

.grid{
    border: 1px solid black;
}

.avatar {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.username {
    padding-top: 10px;
}

.profile-info {
    padding-top: 20px;
}

.my-recipes-title {
    padding-top: 10px;
}

.edit-profile-btn {
    background-color: #ff8686 !important;
}

.edit-profile-btn-text {
    color: white !important;
    font-size: 15px !important;
}