#title
{
    font-family: Calibri;
    font-size: 24px;
}

.ingredients-img-container
{
    display: flex;
    justify-self: space-between;
    width: 100%;
}

.ingredients
{
    padding: 10px;
    margin: auto;
    text-align: left;
    font-size: 16px;
    font-family: Calibri;
}

.img
{
    width: 30%;
    height: auto;
}

.steps
{
    padding: 10px;
    margin: auto;
    text-align: left;
    font-size: 16px;
    font-family: Calibri;
}

body{
    margin: 0px;
    padding: 0px;
}