#main
{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-image: url(https://cdn.discordapp.com/emojis/748603198645862520.png?v=1);
}

#login
{
    padding: 10px 50px 40px 50px;
    background-color: aliceblue;
    margin: auto;
    width: 40%;
    height: auto;
    border-radius: 15px;
}

label
{
    width: 150px;
    padding: 5px 0px 0px 5px;
    margin: 5px 10px 10px 5px;
    font-size: 16px;
    display: inline-block;
}

h3
{
    text-align: center;
}

#remember-user
{
    width: auto;
    
}

input:focus
{
    border-color: blue;
    transform:scale(1.01, 1.01);
    transition: all 0.4s;
}

input:invalid:focus
{
    border-color: red;
}

input:valid{
    border-color: green;
}

input
{
    width: 90%;
    padding: 5px 0px 0px 5px;
    margin: 3px 10px 3px 10px;
    font-size: 16px;
    border-width: 2px;
    display: inline-block;
}

#submit:hover
{
    background-color: #2d945a;
    cursor: pointer;
}

#submit
{
    background-color: #32a866;
    width: 100%;
    color: white;
    border-radius: 5px;
    border: 1px;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    
}

body
{
    padding: 0px;
    margin: 0px;
    font-family: "Alegreya", Helvetica;
}